@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body.main-body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  color: white;

}

nav.title {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: rgb(255, 24, 24);
  background: linear-gradient(129deg, rgba(255, 24, 24, 1) 20%, rgba(96, 59, 235, 1) 80%);
  height: fit-content;
  min-height: 200px;
  text-decoration: none;
  width: 100%;
  margin-bottom: 10px;
}

a.logo {
  font-size: 5em;
  text-align: center;
}

div.slogan {
  width: 40%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
  font-size: 1.5em;
  text-align: center;
}

div.slogan span {
  margin-bottom: 20px;
}

a, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

div.banner {
  text-align: center;
  font-size: 250%;
  color: white;
  height: 100%;
  width: 100%;
  line-height: 1000%;
}

div.article-countainer{
  margin:3px;
  margin-top:0px;
}

div.sci{
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div.pol{
  background: #f79d00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #64f38c, #f79d00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #64f38c, #f79d00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
div.eco{
  background: #0B486B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a.article-title {
  display: block;
  font-size: 1em;
  background-color: rgba(255, 255, 255,0.1);
  min-width: 100px;
  text-align: center;
  margin: 0px;
}
p.article-text {
  font-size: 0.75em;
  color:black;
  background-color: rgba(255, 255, 255,0.9);
  padding:10px;
  margin-top:0px;
}




span.banner-text {
  background: rgb(255, 24, 24);
  background: linear-gradient(129deg, rgba(255, 24, 24, 1) 20%, rgba(96, 59, 235, 1) 80%);
  padding: 10px;
}

span.pol {
  background: #f79d00;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #64f38c, #f79d00);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #64f38c, #f79d00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 10px;
}
span.sci {
  background: #34e89e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #0f3443, #34e89e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #0f3443, #34e89e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */\
  padding: 10px;
}
span.eco {
  background: #0B486B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #F56217, #0B486B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #F56217, #0B486B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 10px;
}


section.hero {
  grid-area: home;
  min-width: 100px;
}

section.politics {
  grid-area: politic;
  min-width: 100px;
}
section.articles-politic{
  grid-area: pol-articles;
  min-width: 100px;
}

section.science {
  grid-area: science;
  max-width: 100%;
}
section.articles-science{
  grid-area: sci-articles;
  min-width: 100px;
}

section.economics {
  grid-area: eco;
  min-width: 100px;
}
section.articles-economics{
  grid-area: eco-articles;
  min-width: 100px;
}

.news {
  display: grid;
  width: 75%;
  z-index: 1;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "home home politic pol-articles"
    "sci-articles science eco-articles eco";
}

div.hero-banner {
  background-image: url('https://images.unsplash.com/photo-1545690546-8bb3627a906c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80 alt=picture of washington dc');
}

div.politics-banner {
  background-image: url('https://images.unsplash.com/photo-1529107386315-e1a2ed48a620?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
}

div.science-banner {
  background-image: url('https://images.unsplash.com/photo-1518152006812-edab29b069ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
}

div.economics-banner {
  background-image: url('https://images.unsplash.com/photo-1559589689-577aabd1db4f?ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80');
}
/*
div.trump-banner {
  background-image: url('https://d.newsweek.com/en/full/629926/trump-cnn.jpg');
}*/

/*________________________________________________________________________________________*/
/*text starting for article*/

section.title{
  grid-area: title;
}
div.par-1{
  grid-area: par1;
}
div.par-2{
  grid-area: par2;
}
div.par-3{
  grid-area: par3;
}
div.par-4{
  grid-area: par4;
}
div.par-5{
  grid-area: par5;
}
div.par-6{
  grid-area: par6;
}

section.article-news{
  display: grid;
  width: 75%;
  z-index: 1;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  ".title title title ."
  "par1 par1 par1 par1 par1"
  "par2 par2 par2 par2 ."
  ". . . par3 par3"
  "par4 par4 par4 par4 par4"
  "par5 par5 par5 par5 ."
  "par6 par6 par6 par6 par6"

}

span.title-text{
  display: block;
  font-size: 4em;
  text-align: center;
}
div.paragraph{
  font-size: 1.25em
}


header {
  width: 100%;
  text-align: center;
  font-size: 2em;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background: rgb(255, 24, 24);
  background: linear-gradient(129deg, rgba(255, 24, 24, 1) 20%, rgba(96, 59, 235, 1) 80%);
  height: fit-content;
  min-height: 50px;
  text-decoration: none;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 0px;
  bottom: 0;
}
